
 .row{
                /*
                responsive 
                */
            display: -webkit-flex;
            display: flex;
            -webkit-flex-flow: row wrap;
            flex-flow: row wrap;

            background-color: white;
            box-shadow: 0px 2px 4px;
            width: 95%;
            margin-left: 2.5%;
			  margin-top: -1.5%;
        }

 ul.botones{
	margin-left: 20%;
	list-style: none;
}


	ul li{
		display: inline-block;
	}
	
	.col-sm-1{
		
		margin-top: 21%;
		

	}

	.menu{
		
	
		margin: auto;
		margin-top: -50%;
		
	}



	/*BOTON 1*/

	
.myButton {
	-moz-box-shadow:inset 0px 34px 0px -15px #b54b3a;
	-webkit-box-shadow:inset 0px 34px 0px -15px #b54b3a;
	box-shadow:inset 0px 34px 0px -15px #b54b3a;
	background-color:#a73f2d;
	border:1px solid #241d13;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #7a2a1d;
}
.myButton:hover {
	background-color:#b34332;
		color:white;
}
.myButton:active {
	position:relative;
	top:1px;
}

/*
BOTON2
*/


.myButton2 {
	-moz-box-shadow:inset 0px 34px 0px -15px #9fb4f2;
	-webkit-box-shadow:inset 0px 34px 0px -15px #9fb4f2;
	box-shadow:inset 0px 34px 0px -15px #9fb4f2;
	background-color:#7892c2;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #283966;
}
.myButton2:hover {
	background-color:#476e9e;
		color:white;
}
.myButton2:active {
	position:relative;
	top:1px;
}

/*
BOTON3
*/
.myButton3 {
	-moz-box-shadow:inset 0px 34px 0px -15px #9acc85;
	-webkit-box-shadow:inset 0px 34px 0px -15px #9acc85;
	box-shadow:inset 0px 34px 0px -15px #9acc85;
	background-color:#74ad5a;
	border:1px solid #3b6e22;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #92b879;
}
.myButton3:hover {
	background-color:#68a54b;
		color:white;
}
.myButton3:active {
	position:relative;
	top:1px;
}


.myButton4 {
	-moz-box-shadow:inset 0px 34px 0px -15px #f2fadc;
	-webkit-box-shadow:inset 0px 34px 0px -15px #f2fadc;
	box-shadow:inset 0px 34px 0px -15px #f2fadc;
	background-color:#dbe6c4;
	border:1px solid #b2b8ad;
	display:inline-block;
	cursor:pointer;
	color:#757d6f;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #ced9bf;
}
.myButton4:hover {
	background-color:#9ba892;
		color:white;
}
.myButton4:active {
	position:relative;
	top:1px;
}


.myButton5 {
	-moz-box-shadow:inset 0px 34px 0px -15px #e184f3;
	-webkit-box-shadow:inset 0px 34px 0px -15px #e184f3;
	box-shadow:inset 0px 34px 0px -15px #e184f3;
	background-color:#c123de;
	border:1px solid #a511c0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #9b14b3;
}
.myButton5:hover {
	background-color:#a20dbd;
	color:white;


}
.myButton5:active {
	position:relative;
	top:1px;
}

.cabecera{
	text-align: center;
}




.panel-heading{

	list-style: none;

}


.panel-default{
	width: 100%;
	height: 100%;
	
	
	
}

h3{
	text-align: center;
	
}

.titulo{
	
	margin-left: 46%;
	margin-top: 100px;
}

.migaspan{
	margin-top: 30px;
	margin-left: 45%;

}
ol{
	display: inline-block;
}

